.Question {
    width: 50%;
    margin: 0 auto;
    border: 1px solid #ccc;
    box-shadow: 0 1rem 4rem rgba(0,0,0, .15);
    padding: 20px;
    font-size: 1.5rem;
}

.Question__title {
    background-color: orange;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.Multi-msg {
    font-size: 0.9rem;
    font-style: italic;
}

.action {
    text-align: center;
}

.btn-validate {
    padding: 15px 30px;
}